.MainGame-ctn {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
        .score-ctn {
            display: flex;
            gap: 2rem;
            font-size: 1.3rem;
        }
}

.card-ctn {
    display: grid;
    grid-template-columns: repeat(3, 180px);
    gap: 1rem;
}

.card {
    width: 180px;
    height: 250px;
    position: relative;
    transform-style: preserve-3d;
    transition: 1s;
    transform: perspective(1000px) rotateY(var(--rotate-y, 0))
    translateY(var(--translate-y, 0));
}

.card.flip {
    --rotate-y: 180deg;
}
.card-front {
    backface-visibility: hidden;
    button {
        background: rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 100%;
        border: 0;
        border-radius: 5px;
        color: #FEFEFE;
        font-size: 1.2rem;
        transition: background .3s;
    }
    button:hover {
        background: rgba(200,200,200, 0.4);
        cursor: pointer;
    }
    img {
        width: 100%;
        height: 200px;
        object-fit: contain;
    }
}

.card-back {
    backface-visibility: hidden;
    position: absolute; 
    top: 0;
    transform: rotateY(180deg);
    width: 180px;
    height: 250px;
    img {
        width: 100%;
        height: 250px;
        object-fit: contain;
    }
}